@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 211 69% 44%;
    --muted: 0 12% 90%;
    --muted-foreground: 0 12% 30%;
    --popover: 0 0% 97%;
    --popover-foreground: 211 69% 34%;
    --card: 0 0% 98%;
    --card-foreground: 211 69% 39%;
    --border: 0 0% 95%;
    --input: 0 0% 92%;
    --primary: 0 0% 17%;
    --primary-foreground: 0 0% 77%;
    --secondary: 0 0% 75%;
    --secondary-foreground: 0 0% 15%;
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 25%;
    --destructive: 5 80% 33%;
    --destructive-foreground: 5 80% 93%;
    --ring: 0 0% 17%;
    --radius: 0.5rem;

    --radius: 0.5rem;

    /* REACT-MENTIONS BEGIN */
    .mentions {
      width: 100%;
      border-radius: 50%;
    }

    .mentions--singleLine .mentions__control {
      display: inline-block;
    }
    .mentions--singleLine .mentions__higlighter {
      padding: 1px;
      background-color: yellow;
    }
    .mentions--singleLine .mentions__input {
      padding: 5px;
      background-color: yellow;
    }

    .mentions--multiLine .mentions__control {
      font-family: monospace;
      font-size: 11pt;
    }
    .mentions--multiLine .mentions__highlighter {
      padding: 8px;
      color: var(--primary-foreground) !important;
      font-weight: 900;
    }
    .mentions--multiLine .mentions__input {
      padding: 9px;
      min-height: 63px;
      outline: 0;
      border: 0;
    }

    .mentions__suggestions__list {
      background-color: hsl(var(--background));
      color: hsl(var(--primary));
      font-size: 10pt;
    }

    .mentions__suggestions__item {
      padding: 5px 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    .mentions__suggestions__item--focused {
      background-color: rgba(0, 0, 0, 0.15);
    }

    .mentions__mention {
      background-color: #ff0000;
    }

    /* REACT-MENTIONS END */
  }

  .dark {
    --background: 60 8% 15%;
    --foreground: 201 83% 81%;
    --muted: 60 12% 19%;
    --muted-foreground: 60 12% 69%;
    --popover: 60 8% 12%;
    --popover-foreground: 201 83% 91%;
    --card: 60 8% 13%;
    --card-foreground: 201 83% 86%;
    --border: 0 0% 20%;
    --input: 0 0% 23%;
    --primary: 205 85% 78%;
    --primary-foreground: 205 85% 18%;
    --secondary: 205 30% 25%;
    --secondary-foreground: 205 30% 85%;
    --accent: 60 8% 30%;
    --accent-foreground: 60 8% 90%;
    --destructive: 7 98% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 205 85% 78%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-sans;
  }
}
